# LiveProject discovering disease outbreaks

## Extract City and Country Information from News Headlines

### Parsing the News Headlines

Start by reading the headlines

In [1]:
import numpy as np
import pandas as pd
import geonamescache
import re

gc = geonamescache.GeonamesCache()

In [2]:
# Open our headlines file
with open('data/headlines.txt', 'r') as f:
    lines = f.read().splitlines()

In [3]:
# Get list of countries
countries = gc.get_countries()
countries_list = []
for key in countries:
    name = countries[key]['name']
    countries_list.append(name)

In [4]:
def find_country_in_words(words):
    foundCountry = None
    for word in words:
        if word in countries_list:
            foundCountry=word
            break
    return foundCountry

In [5]:
def find_city_in_words(words):
    foundCity = None
    for word in words:
        city = gc.get_cities_by_name(word)
        if city:
            foundCity=word
            break
    return foundCity

In [6]:
def three_word_list(words):
    result = []
    for i in range(len(words) - 2):
        result.append(words[i] + ' ' + words[i+1] + ' ' + words[i+2])
    return result

In [7]:
def four_word_list(words):
    result = []
    for i in range(len(words) - 3):
        result.append(words[i] + ' ' + words[i+1] + ' ' + words[i+2] + ' ' + words[i+3])
    return result

## Workhorse function

For every line in file
- remove special characters from line
- break words into single, double, triple, and quadruple words list
- find first city in words list
- find first country in words list

In [8]:
answers = []
for line in lines:
    answer = {'headline': line}
    # remove the special charaters from the read string
    no_specials_line = re.sub('[!#?,.:";]', '', line)
    # get words and compare to cities
    words = no_specials_line.split()
    double_words = list(map(' '.join, zip(words[:-1], words[1:])))
    triple_words = three_word_list(words)
    four_words = four_word_list(words)
    reverse_words = four_words
    reverse_words.extend(triple_words)
    reverse_words.extend(double_words)
    reverse_words.extend(words)
    country=find_country_in_words(reverse_words)
    answer['countries']=country
    city=find_city_in_words(reverse_words)
    answer['cities']=city
    answers.append(answer)

In [9]:
df = pd.DataFrame(answers)
df.head()

                                  headline countries         cities
0                 Zika Outbreak Hits Miami      None          Miami
1          Could Zika Reach New York City?      None  New York City
2        First Case of Zika in Miami Beach      None    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika      None         Dallas